# 超大目录 🔥 绝对不能上传
modelsaved/
dataset/
model/
dataset_json/
Figure/

# 输出/结果/缓存
result/
backup/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# 系统 & IDE
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# 原代码
Tiger-Model-master/

*.zip
